.task-container{
    height:600px;
    width:100%;
    padding:10px 40px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    background-color: #F6F7f8;

}
.header{
    height:230px;
    width:100%;
    background-color:#7399bf;
    padding:20px;
    color:white;
}
